node_red_test_flows.json
[{"id":"bbcfa8ee.9d8738","type":"tab","label":"BME280 test","disabled":true,"info":""},{"id":"d272a6e1.500508","type":"tab","label":"OLED test","disabled":true,"info":""},{"id":"eb7a570e.809fe8","type":"tab","label":"Ultrasonic test","disabled":true,"info":""},{"id":"c6dead08.47a7e","type":"tab","label":"Camera test","disabled":true,"info":""},{"id":"cd4eb54.517cb48","type":"tab","label":"LED ring test","disabled":true,"info":""},{"id":"cdaa3613.e0b218","type":"oled-config","name":"","width":"128","height":"64","address":"3c"},{"id":"fa1522de.87c63","type":"Bme280","z":"bbcfa8ee.9d8738","name":"","bus":"1","address":"0x76","topic":"bme280","extra":false,"x":350,"y":280,"wires":[["6071a237.b46dbc"]]},{"id":"3c3f5e90.84ea02","type":"inject","z":"bbcfa8ee.9d8738","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":280,"wires":[["fa1522de.87c63"]]},{"id":"6071a237.b46dbc","type":"debug","z":"bbcfa8ee.9d8738","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":280,"wires":[]},{"id":"ba32264a.fafe38","type":"String","z":"d272a6e1.500508","name":"","display":"cdaa3613.e0b218","x":340,"y":220,"wires":[]},{"id":"b1ea746d.1cf748","type":"inject","z":"d272a6e1.500508","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello world","payloadType":"str","x":120,"y":180,"wires":[["9c10b65e.d4fe68"]]},{"id":"9c10b65e.d4fe68","type":"function","z":"d272a6e1.500508","name":"","func":"msg.payload = {\n    x:1,\n    y:50,\n    text:msg.payload\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":320,"wires":[["ba32264a.fafe38"]]},{"id":"efd02282.256b9","type":"Line","z":"d272a6e1.500508","name":"","display":"cdaa3613.e0b218","x":340,"y":420,"wires":[]},{"id":"bddbb467.558328","type":"function","z":"d272a6e1.500508","name":"","func":"msg.payload = {\n    x0:0,\n    y0:0,\n    x1:24,\n    y1:17,\n    color:1\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":200,"y":420,"wires":[["efd02282.256b9"]]},{"id":"256e1da.5afebe2","type":"inject","z":"d272a6e1.500508","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["bddbb467.558328"]]},{"id":"84566b8f.1c9d08","type":"rpi-srf","z":"eb7a570e.809fe8","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","x":210,"y":140,"wires":[["10a7bbbb.005294"]]},{"id":"10a7bbbb.005294","type":"debug","z":"eb7a570e.809fe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":370,"y":140,"wires":[]},{"id":"4d0b6c4e.fe3654","type":"inject","z":"c6dead08.47a7e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":140,"wires":[["76fa409a.08f47"]]},{"id":"76fa409a.08f47","type":"camerapi-takephoto","z":"c6dead08.47a7e","filemode":"2","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"9","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"","x":430,"y":140,"wires":[[]]},{"id":"5c54706c.f49d1","type":"rpi-neopixels","z":"cd4eb54.517cb48","name":"","gpio":18,"pixels":"12","bgnd":"","fgnd":"","wipe":"40","mode":"pixels","rgb":"rgb","brightness":"15","gamma":true,"x":520,"y":120,"wires":[]},{"id":"f68d889a.a2c2a8","type":"inject","z":"cd4eb54.517cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Blue","payloadType":"str","x":210,"y":100,"wires":[["5c54706c.f49d1"]]},{"id":"325786dc.8c58ba","type":"inject","z":"cd4eb54.517cb48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5,Red","payloadType":"str","x":210,"y":160,"wires":[["5c54706c.f49d1"]]}]